<!-- Webpage for Dynamics Coupling Demo -->
<!DOCTYPE html>
<html lang="en">
  <style>
    * {
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
    }
  </style>
    <head>
        <meta charset="utf-8">
        <title>Dynamics Coupling</title>
        <link href="/static/css/exercise_layout.css" rel="stylesheet">

        <!-- CSS for Boostrap. -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script>
            // < !-change the host if sending the message outside localhost ->
            const socket = io("http://simple-robot-arm:8080",
            {transports: ['websocket', 'polling', 'flashsocket']}
            );
    
            socket.on("disconnect", function (){
                console.log("Disconnected from server.")    // alert?
            });
            </script>
    </head>
    <body>
        <!--Navigation Bar Section-->
        <nav class="navbar navbar-expand-lg navbar-fade navbar-dark bg-dark sticky-top">
          <a class="navbar-brand mb-0" href="#">
            Robotics I&II
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <button class="btn btn-default bg-dark text-light" type="button" data-toggle="dropdown" onclick="window.location.href='http://simple-robot-arm:8080/';">Home</button>

              </li>
              <li class="nav-item dropdown">
                <button class="btn btn-default dropdown-toggle bg-dark text-light" type="button" data-toggle="dropdown">Demonstrations</button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://simple-robot-arm:8080/workspace_demo">Workspace</a>
                    <a class="dropdown-item" href="http://simple-robot-arm:8080/jacobian">Jacobian</a>
                    <a class="dropdown-item" href="http://simple-robot-arm:8080/dynamics_coupling">Dynamics Coupling</a>
                    <a class="dropdown-item" href="http://simple-robot-arm:8080/controls">Controls</a>
                  </div>
                </li>
              <li class="nav-item dropdown">
                <button class="btn btn-default dropdown-toggle bg-dark text-light" type="button" data-toggle="dropdown">Exercises</button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://simple-robot-arm:8080/exercise_1">Forward Kinematics</a>
                    <a class="dropdown-item" href="http://simple-robot-arm:8080/exercise_2">Inverse Kinematics</a>
                  </div>
              </li>
            </ul>
          </div>
        </nav>

        <!-- Need to correct the pathing/routing for static files.-->
        <script src="/static/scripts/utility.js"></script>
        <script src="/static/scripts/toggle_light.js"></script>
        <script src="/static/scripts/telemetry.js"></script>
        <script src="/static/scripts/dynamics_coupling_demo.js"></script>

        <!--Start of the Dynamics Coupling Section-->
        <!--<div class="bg-secondary bg-gradient">-->
          <div class="container">
            <br>
            <h1 class="text-center text-light"><u>Dynamics Coupling Demonstration</u></h1>
            <br>
          </div>
          <div class="container bg-light Jumbotron">
              <!--<fieldset class="command_window bg-light">-->
                <h1>Video Feed</h1>
                <!--<div class="embed-responsive embed-responsive-21by9">-->
                <div class="text-center">
                  <!--<img id="video_feed text-center", src="/video_feed">-->
                    <iframe class="embed-responsive-item" src="/video_feed" width="485" height="485"></iframe>

                </div>
                  <!--<img id="video_feed", src="/video_feed">-->
              <!--</fieldset>-->
              <br>
          </div>
          <br>
          <div class="container jumbotron">
            <h1>Commands</h1>
            <div class="row-md-3">
              <div class="container">
                <div class="col">
                  <h5>Utility</h5>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-secondary btn-sm" onClick="disable_torque()">MOTORS OFF</button>
                  <button type="button" class="btn btn-secondary btn-sm" onClick="enable_torque()">MOTORS ON</button>
                  <button type="button" class="btn btn-secondary btn-sm" onClick="go_home()">GO HOME</button>
                  <button type="button" class="btn btn-secondary btn-sm" onClick="reconnect_dynamixel()">RECONNECT TO DYNAMIXEL</button>
                  <button type="button" class="btn btn-secondary btn-sm" onClick="toggle_light()">TOGGLE LIGHT</button>
                </div>
              </div>
          </div>
          <br>
          <br>
          <div class="row-md-3">
            <div class="container">
              <div class="col">
                <button type="button" class="btn btn-secondary btn-sm" onClick="dynamics_coupling_demo()">DYNAMICS COUPLING DEMO</button>
                <button type="button" class="btn btn-secondary btn-sm" onClick="dynamics_time_varying_demo()">DYNAMICS TIME VARYING DEMO</button>
              </div>
              <br>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col justify-content-center">
                      <h1>Telemetry</h1>
                      <div class="card" style="width: 18rem;">
                        <small id="motor_0_enabled">Motor 0:</small>
                        <small id="motor_1_enabled">Motor 1:</small>
                        <small id="ee_position">ee Position:</small>
                        <small id="joint_position">Joint Position:</small>
                        <br>
                        <small id="current_controller">Current Controller:</small>
                        <small id="controller_gains_0">Controller 0 Gains:</small>
                        <small id="controller_gains_1">Controller 1 Gains:</small>
                      </div>
                      <p>Link lengths: (200, 200) mm</h3>
                    </div>
                    <div class="col justify-content-center">
                      <h1>Activity Log</h1>
                        <div class="log_window bg-light" id="log_window"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--</div>-->
        <!-- https://mdbootstrap.com/docs/standard/navigation/footer/examples-and-customization/ -->
        <footer class="bg-dark text-center text-white">
          <!-- Grid container -->
          <!-- Social Media Stuff -->
          <div class="container p-4 pb-0">
            
          </div>
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://www.scu.edu/engineering/labs--research/labs/robotic-systems-lab/">Robotics System Lab</a>
          </div>
          <!-- Copyright -->
        </footer>

        <!-- Scripts for Bootstrap. -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
