<!-- Webpage for Dynamics Coupling Demo -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Forward Kinematic Exercise</title>
        <link href="/static/css/exercise_layout.css" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script>
            // < !-change the host if sending the message outside localhost ->
            const socket = io("http://simple-robot-arm:8080",
            {transports: ['websocket', 'polling', 'flashsocket']}
            );
    
            socket.on("disconnect", function (){
                console.log("Disconnected from server.")    // alert?
            });
            </script>
    </head>
    <body>
        <!-- Need to correct the pathing/routing for static files.-->
        <script src="/static/scripts/utility.js"></script>
        <script src="/static/scripts/dynamics_coupling_demo.js"></script>
        <script>
            function dynamics_coupling_demo() {
                console.log("Client sending command DYNAMICS_COUPLING_DEMO")
                socket.emit("dynamics_coupling_demo")
            }
    
            function dynamics_time_varying_demo() {
                console.log("Client sending command DYNAMICS_TIME_VARYING_DEMO")
                socket.emit("dynamics_time_varying_demo")
            }
        </script>

        <h1 class="center">Dynamics Coupling Demonstration</h1>
        <div class="video_container">
            <fieldset class="command_window">
                <legend class="video_feed_text">Video Feed</legend>
                <img id="video_feed", src="/video_feed">
            </fieldset>
        </div>
        <br>
        <fieldset class="command_window">
            <legend class="video_feed_text">Commands</legend>
            <fieldset class="command_window">
                <legend>UTILITY</legend>
               <button class="button" onClick="disable_torque()">MOTORS OFF</button>
               <button class="button" onClick="enable_torque()">MOTORS ON</button>
               <button class="button" onClick="go_home()">GO HOME</button>
               <button class="button" onClick="reconnect_dynamixel()">RECONNECT TO DYNAMIXEL</button>
            </fieldset>
            <fieldset class="command_window">
                <legend>DYNAMICS COUPLING DEMONSTRATION</legend>
                <button class="button" onClick="dynamics_coupling_demo()">DYNAMICS COUPLING DEMO</button>
                <button class="button" onClick="dynamics_time_varying_demo()">DYNAMICS TIME VARYING DEMO</button>
            </fieldset>
        </fieldset>
    </body>
</html>
