<!-- Webpage for Dynamics Coupling Demo -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Forward Kinematic Exercise</title>
        <link href="/static/css/exercise_layout.css" rel="stylesheet">

        <!-- CSS for Boostrap. -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script>
            // < !-change the host if sending the message outside localhost ->
            const socket = io("http://simple-robot-arm:8080",
            {transports: ['websocket', 'polling', 'flashsocket']}
            );
    
            socket.on("disconnect", function (){
                console.log("Disconnected from server.")    // alert?
            });
            </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Robotics I&II</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://simple-robot-arm:8080/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Demonstrations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="http://simple-robot-arm:8080/jacobian">Jacobian</a>
                      <a class="dropdown-item" href="http://simple-robot-arm:8080/dynamics_coupling">Dynamics Coupling</a>
                    </div>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Exercises
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="http://simple-robot-arm:8080/exercise_1">Forward Kinematics</a>
                      <a class="dropdown-item" href="http://simple-robot-arm:8080/exercise_2">Inverse Kinematics</a>
                    </div>
                </li>
              </ul>
            </div>
        </nav>

        <!-- Need to correct the pathing/routing for static files.-->
        <script src="/static/scripts/utility.js"></script>
        <script src="/static/scripts/dynamics_coupling_demo.js"></script>


        <h1 class="center">Dynamics Coupling Demonstration</h1>
        <div class="video_container">
            <fieldset class="command_window">
                <legend class="video_feed_text">Video Feed</legend>
                <img id="video_feed", src="/video_feed">
            </fieldset>
        </div>
        <br>
        <fieldset class="command_window">
            <legend class="video_feed_text">Commands</legend>
            <fieldset class="command_window">
                <legend>UTILITY</legend>
               <button class="button" onClick="disable_torque()">MOTORS OFF</button>
               <button class="button" onClick="enable_torque()">MOTORS ON</button>
               <button class="button" onClick="go_home()">GO HOME</button>
               <button class="button" onClick="reconnect_dynamixel()">RECONNECT TO DYNAMIXEL</button>
            </fieldset>
            <fieldset class="command_window">
                <legend>DYNAMICS COUPLING DEMONSTRATION</legend>
                <button class="button" onClick="dynamics_coupling_demo()">DYNAMICS COUPLING DEMO</button>
                <button class="button" onClick="dynamics_time_varying_demo()">DYNAMICS TIME VARYING DEMO</button>
            </fieldset>
        </fieldset>
        <!-- Scripts for Bootstrap. -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
